.tweet-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.tweet-text {
    margin-top: 5px;
    margin-bottom: 5px;
}

.tweet-created-at {
    color: #888;
    font-size: 12px;
}